body {
    color: rgb(255, 245, 230);
    margin: 0;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.middle {background-color: rgb(229, 219, 183);
        padding: 25px 50px 25px 50px;
}

h1 {
    color: rgb(127, 33, 34);
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 54px;
}

h2 {
    color: rgb(184, 64, 104)
}

h3 {
    color: rgb(184, 64, 104)
}

dt {
    color: rgb(95, 91, 138);
    font-size: 18px;
}

dd {
    color:rgb(39, 96, 175);
    font-size: 24px;
}

p {
    color: rgb(95, 91, 138)
}

li {
    color: rgb(95, 91, 138);
    font-size: 24px;
}

a {
    color: rgb(211, 41, 41);
    text-decoration: none;
}

a:hover {
    color:blueviolet;
}

button {
    background-color: rgb(250, 205, 30);
    border: none;
    color: rgb(211, 41, 41);
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
}

hr.hrtop {
    border-top: 3px solid rgb(211, 41, 41);
}

hr.hrmid {
    border-top: 2px dashed rgb(222, 162, 60);
}

img.headshot {
    border: 8px solid rgb(95, 91, 138);
}

.column {
    float: left;
    width: 50%;
}

.column2 {
    float: left;
    width: 50%;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bottom {
    background-color:rgb(215, 167, 183);
    padding: 50px;
}

label {
    color:rgb(95, 91, 138);
}

input {
    color:rgb(95, 91, 138);
}

.card {
    background-color: rgb(229, 219, 183);
    width: 50%;
    float: center;
    text-align: center;
    border: 5px outset rgb(211, 41, 41);
    padding: 10px;
    margin: auto;
}